
archlinux-logout
archlinux-tweak-tool
arcolinux-welcome-app
audacity
autostart
bloc-linux
bspwm-copy
celluloid
Code
composer
configstore
conky
dconf
easyeffects
envman
eog
fastfetch
fontconfig
font-manager
galculator
gconf
ghostty
GIMP
GitKraken
go
gtk-2.0
gtk-3.0
hypr
JetBrains
kdeconnect
kdeglobals
kdenlive-layoutsrc
kdenliverc
kitty-copy
knfsshare
konsolerc
konsolesshconfig
Kvantum
lazydocker
lazygit
libreoffice
lxqt
lxqt-mimeapps.list
microsoft-edge
mimeapps.list
ml4w
Mousepad
mpv
nano
neofetch
nomacs
nvim.bak
nwg-look
obs-studio
okularpartrc
okularrc
openbox
pamac
paru
pavucontrol.ini
pcmanfm-qt
pdfarranger
polybar.old
Postman
powermenu
procps
pulse
qt5ct
qterminal.org
qtile
QtProject
QtProject.conf
ralfhttp
ranger
redshift.conf
systemd
Thunar
Trolltech.conf
user-dirs.dirs
user-dirs.locale
variety
VirtualBox
vlc
volumeicon
VSCodium
wal
waybar
waypaper
xfce4
xsettingsd
yad.conf
yay
yazi
YouTube Music
